* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ededed;
}

.container {
  background: #fff;
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  padding: 20px 0 20px 2em;
  border-radius: 10px;
}

h1 {
  font-size: 3em;
  margin: 50px 0;
  text-align: center;

}

p {
  color: #333;
  font-size: 2em;
}

.submit-answer {
  
}