* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ccc;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 40px auto;
}

section {
  padding: 40px;
  background: white;
  margin: 25px 0;
  border-radius: 10px;
}

/* Botones */

.botones a, .botones button {
  display: block;
  margin: 25px auto;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 20px 0;
  width: 50%;
  color: white;
  border-width: 2px;
  border-style: solid;
  text-transform: uppercase;
}

.botones a {
  background: #5748ca;
  border-color: #5748ca;
  text-align: center;
}

.botones button {
  background: #ffa00b;
  border-color:#ffa00b;
}

/* Cajas */

.caja {
  width: 300px;
  height: 300px;
  background: #11da61;
  margin: 30px auto;
}

/* Formularios */

form {
  width: 80%;
  margin: 40px auto;
  background: #1D607C;
  color: white;
  padding: 30px 1em;
}

form input {
  width: 100%;
  outline: none;
  border: 2px solid gray;
  padding: 10px 1em;
  font-size: 1em;
  border-radius: 5px;
}

form label {
  font-size: 1.5em;
}

label, input {
  display: block;
  margin: 15px 0;
}

/* Selectores 
  
  De Tipo: Nombre del elemento HTML;
  De Clase: El valor del atributo class;
  De Id: El valor del atributo id;
  Descendencia: La relacion familiar entre elementos HTML;

 */

 /* Especificacion 

 #link {
  background-color: red;
 }

 

 .botones a {
  background: yellow;
 }

 

.link {
  background: purple;
}

a{
  background-color: blue;  
}

*/

 a:hover, button:hover {
  background-color: transparent;
  color: #5748ca;
 }

 a:active, a.active {
  background-color: transparent;
  color: #5748ca;
 }

 a.active.link {
  background-color: green;
 }

 .botones h1:hover {
  font-size: 2em;
  color: red;
 }
/*
 input:focus {

 }
*/
 #usuario:focus {
  border: 6px solid purple;
  outline: none;
 }

 ::-webkit-input-placeholder {
  color: green;
 }

 #usuario:focus::-webkit-input-placeholder {
  color:black;
  font-size: 1.5em;
 }

  #usuario:focus::-moz-input-placeholder {
  color:black;
  font-size: 1.5em;
 }

 #usuario:focus::-ms-input-placeholder {
  color:black;
  font-size: 1.5em;
 }

  #usuario:focus::-o-input-placeholder {
  color:black;
  font-size: 1.5em;
 }